[data-theme="dark"] {
    --trello-blue: #579DFF;
    --trello-blue-hover: #85B8FF;
    --text-dark: #FFFFFF;
    --text-light: #B6C2CF;
    --border: #A6C5E229;
    --bg-subtle: #2C333A;
    --bg-hover: #38414A;
    --bg-main: #22272B;
    color-scheme: dark;
}

[data-theme="dark"] select option {
    background-color: var(--bg-main);
    color: var(--text-dark);
}
